.swiper {
  color: white;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #2d323e;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* .swiper-pagination {
  bottom: 0px !important;
  width: 110% !important;
  height: var(--bottomNavHeight);
  background-color: #ff0000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  width: 85px;
  height: 33px;
  border-radius: 6px;
  text-align: center;
  line-height: 33px;
  font-size: 12px;
  color: rgb(0, 0, 0);
  opacity: 1;
  background: white;
  transform: scale(1) !important;
  transition: 0.15s;
} */

.swiper-pagination-bullet:hover {
  background-color: #00acff;
}

.swiper-pagination-bullet-active {
  background: var(--shual);
}

.swiperTop iframe {
  width: 100%;
  height: calc(100% - 50px);
  position: absolute;
  top: 0;
}

.swiper-button-prev {
  right: -4px !important;
}

.swiper-button-next {
  left: -4px !important;
}

.swiper-button-prev,
.swiper-button-next {
  position: fixed;
  bottom: -4px !important;
  top: auto;
  height: calc(var(--bottomNavHeight) * 1.2);
  width: calc(var(--bottomNavHeight) * 1.2);
  z-index: 20;
  /* padding: 7px; */
  transition: 0.1s;
  transform: scale(0.8);
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: var(--shual);
  color: white;
}

.swiperTop {
  height: 100%;
}

.swiperTop .swiper-wrapper {
  position: fixed;
}

.swiperBottom {
  height: var(--bottomNavHeight);
  width: calc(100% - 160px);
  box-sizing: border-box;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  left: 44px;
  /* left: 50%; */
  /* transform: translateX(-50%); */
}

.swiperBottom .swiper-slide {
  height: 100%;
  opacity: 0.4;
  cursor: pointer;
  border-radius: 8px;
}

.swiperBottom .swiper-slide:hover {
  background-color: #00acff;
  transition: 0.15s;
}

.swiperBottom .swiper-slide-thumb-active {
  background: var(--shual);
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
