.swal2-toast {
  display: flex !important;
  align-items: center;

  &.swal2-icon-error {
    background-color: #f27474;
  }
  &.swal2-icon-success {
    background-color: #a5dc86;
  }
  &.swal2-icon-warning {
    background-color: #f8bb86;
  }
  &.swal2-icon-info {
    background-color: #3fc3ee;
  }
  &.swal2-icon-question {
    background-color: #87adbd;
  }

  .swal2-container {
    color: white;
  }
  .swal2-actions {
    flex: 1;
    flex-direction: row-reverse;
    margin: 0 !important;
  }
  .swal2-confirm {
    background: inherit;
    color: white;
    margin: 0 !important;
    position: absolute;
    top: 0;
    left: 0;
  }
  .swal2-close,
  .swal2-title {
    color: white;
  }
}