* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
#root {
  height: 100%;
  --shual: #039be5;
  --bottomNavHeight: 45px;
  --purple: #7451f8;
  --shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
}
html,
body {
  position: relative;
  height: 100%;
  overflow-y: hidden;
  direction: rtl;
}

a {
  text-decoration: none;
}

.ReactQueryDevtools {
  direction: ltr;
}

/* sweetAlert2 CSS */
.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
}

.colored-toast .swal2-title {
  color: white;
}

.colored-toast .swal2-close {
  color: white;
}
.colored-toast .swal2-actions .swal2-confirm {
  background: white;
  color: black;
}
.colored-toast .swal2-container {
  color: white;
  background-color: #f27474 !important;
}
